.main-button {
    text-decoration: none;
    border: none;
    outline: none;
    background: var(--link-blue);
    padding: 0.3em 1.5em;
    border-radius: 100px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 15px;
}

.secondary-button {
    color: var(--link-blue);
    border: solid 1px var(--link-blue);
    background-color: white;
}

.main-button-disabled {
    background-color: #818181;
}