.hypervideo {
    margin: auto;
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hypervideo-content {
    width: 640px;
    height: 390px;
    position: relative;
}

.video {
    width: 100%;
}