
.editor-page {
    display: flex;
    width: 100%;
    height: 100%;
}

.editor-main {
    width: 100%;
}

.config-inspector {
    min-width: 200px;
    border-left: 2px solid;
}

.left-window {
    min-width: 200px;
    border-right: 2px solid;
}

.add-tag-button-container {
    padding-left: .4em;
    width: 100%;
    text-align: center;
}