.drag-container {
    background-color: var(--nav-gray);
    border: 2px dashed var(--border-gray);
    padding: 2em;
    max-width: 400px;
    margin: 0 auto;
    color: #818181;
}

.drag-container-focus {
}

.drag-title {
    margin: 0;
    margin-top: .6em;
    pointer-events: none;
    transition: transform 0.5s, opacity 0.3s;
}

.drag-title-disappear {
    transform: translateY(10px);
    opacity: 0;
}

.drag-icon-container {  
    text-align: center;
    pointer-events: none;
}

.drag-icon {
    width: 40px;
    height: 40px;
    pointer-events: none;
    transition: transform 0.5s;
}

.drag-icon-scale {
    transform: scale(1.4);
}