.button-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.button-icon-disabled {
    pointer-events: none;
}

.button-icon {
    width: 100%;
    height: 100%;
}