.tag {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5%;
    transform:translate(-50%, -50%);
    background: red;
    border-radius: 50%;
}

.tag-button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    border: none;
    background-color: var(--clear);
    cursor: pointer;
}

.tag-aspect-ratio {
    margin-top: 100%;
}