.round-tf-container {
    padding: 0.3em 0.5em;
    background-color: var(--nav-gray);
    border: 2px solid var(--border-gray);
    border-radius: 100px;
    text-align: center;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.round-tf-input {
    border: none;
    background-color: var(--clear);
    font-size: 20px;
    outline: none; 
    text-align: center;
    width: 90%;
    margin-left: 0.5em;
}

.round-tf-margin {
    margin-right: 0.5em;
}